<div class="col-md-4">
    <div class="col-md-12 ptitle">
        <h3>template-title</h3>
    </div>
    <div class="col-md-12 puser">
        <div class="userdata-row">
            <div class="name"><a href="template-userpage">template-user</a></div><span class="date">template-date</span>
        </div>
    </div>
    <div class="col-md-12 pcontent">
        template-decoration
    </div>
    <div class="col-md-12 picon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 12">
            <path fill="#ccc" d="M0 6c2-3.333 4.333-5 7-5s5 1.667 7 5c-2 3.333-4.333 5-7 5S2 9.333 0 6z" />
            <path fill="#fff" d="M7 8.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0-1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" /></svg>&nbsp;template-visit&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
            <path fill="#CCC" d="M2 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm8 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM2.11 8.89a1 1 0 0 1 1.415-1.415 3.5 3.5 0 0 0 4.95 0 1 1 0 0 1 1.414 1.414 5.5 5.5 0 0 1-7.778 0z" /></svg>&nbsp;template-like&nbsp;
    </div>
</div>