.side-arrow {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 5%;
    height: 20%;
}

.side-arrow>svg {
    color: #787878;
}

.side-arrow>svg:hover {
    color: #505050;
}

.side-arrow>svg:active {
    color: #969696;
}

.mid-control {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.pic {
    width: auto;
}

.main-title {
    color: rgb(31, 31, 31);
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-content {
    font-size: 14px;
    line-height: calc(1em + 8px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.see {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    margin: 0px;
}

.pid {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    text-decoration: none;
}

.pid>a:hover {
    color: gray !important;
    text-decoration: none;
}

.pid>a:visited,
.pid>a:link {
    color: black;
    text-decoration: none;
}

.pcontent {
    margin: 10px 0;
    line-height: 22px;
    font-size: 14px;
}

.picon>svg {
    width: 14px;
    height: 14px;
}

.userdata-row {
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.userdata-row .name::before {

    content: "by";
    margin-right: 5px;

}

.userdata-row {
    display: inline-flex;
    align-items: center;
}

.userdata-row .date {
    margin-left: 10px;
}

.userdata-row .name {
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.userdata-row .name>a:hover {
    color: gray !important;
    text-decoration: none;
}

.userdata-row .name>a:visited,
.userdata-row .name>a:link {
    color: black;
    text-decoration: none;
}